
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i|Marcellus+SC');

// Tailwind base styles
@tailwind preflight;

// Tailwind components
@tailwind components;

// Tailwind utilities
@tailwind utilities;

body {
  @apply .font-sans;
}

.header {
  background: radial-gradient(circle, #1C3D5A, #12283A);
}

.text-inherit {
  color: inherit;
}

.nav-active {
  @apply .border-b-2 .border-blue-dark;
}

.bg-slide {
  background: linear-gradient(to right, rgba(18, 40, 58, 1) 30%, rgba(18, 40, 58, 0));
}